
<md-subheader class="secondBar md-no-sticky"><h1>Register or Login</h1></md-subheader>

<div layout="row">

  <div flex="25">
  </div>

  <div flex="50">

<div style ="padding-top: 100px">
<div ng-show="nav.isLogin">
  <form ng-submit="nav.login()">
    <md-input-container>
      <label>Username</label>
      <input class="form-control"  ng-model="nav.user.username">
    </md-input-container>
      <md-input-container>
      <label>Password</label>
      <input type="password" class="form-control" ng-model="nav.user.password">
    </md-input-container>
      <div style="text-align:center">
        <md-button type="submit" class="md-raised" >Login</md-button>
        <md-button type="button" class="md-raised" ng-click="nav.isLogin = false;" class="btn btn-primary">Register</md-button>
      </div>
  </form>
</div>

<!-- Show the Register Form -->
<div ng-show="!nav.isLogin">
  <form ng-submit="nav.register()">
    <md-input-container>
      <label>Username</label>
      <input class="form-control" ng-model="nav.user.username">
    </md-input-container>
      <md-input-container>
      <label>Email</label>
      <input type="email" class="form-control" ng-model="nav.user.email">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" class="form-control" ng-model="nav.user.password">
    </md-input-container>
      <div style="text-align:center">
          <md-button type="submit" class="btn btn-info">Register</md-button>
        <md-button type="button" ng-click="nav.isLogin = true;" class="btn btn-primary">Cancel</md-button>
      </div>
  </form>
</div>
</div>
</div>

</div>
